.fnd-ui-newsbanner {
    &-container {
        max-width: 1402px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        column-gap: 32px;
    }

    &-left {
        max-width: 554px;
        width: 100%;
    }

    &-right {
        max-width: 708px;
        width: 100%;
        overflow: hidden;
    }

    &-left p,
    &-left h2,
    &-left a {
        margin: 0;
        color: #2D394E;
    }

    &-left p:first-child,
    &-left h2,
    &-left a {
        font-weight: bold;
    }

    &-left p:first-child,
    &-left a {
        font-size: 22px;
    }

    &-left h2 {
        font-size: 40px;
        line-height: 1;
        margin: 28px 0;
    }

    &-left p {
        font-size: 19px;
    }

    &-left a {
        display: inline-block;
        text-decoration: none;
        color: #007AA3;
        padding-bottom: 5px;
        padding-right: 20px;
        border-bottom: 2px solid #007AA3;
        margin-top: 41px;
    }

    &-right img {
        overflow: hidden;
        max-height: 530.78px;
        height: 100%;
        border-radius: 30px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}