.fnd-ui-cardprofile {
    &__container {
        box-shadow: 0px 1px 6px #00000012;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        max-width: 265.36px;
        padding: 25.59px 28.31px 20.79px 29.05px;
    }

    &__image {
        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
            border-radius: 100%;
        }
    }

    &__name {
        h3 {
            padding: 5px 0;
            text-align: center;
            font-size: 18px;
        }
        @include respond(lg) {
            h3 {
                font-size: 20px;
            }
        }
        @include respond(2xl) {
            h3 {
                font-size: 22px;
            }
        }
    }

    &__separator {
        margin: auto 0;
        opacity: 8%;
        background-color: #2d394e;
        height: 2px;
        width: 100%;
        margin-bottom: 6px;
    }

    &__info {
        font-size: 18px;
        font-style: italic;

        @include respond(lg) {
            font-size: 19px;
        }
        
        p {
            margin: 0;
        }
    
        a {
            display: inline-block;
        }
    }
}