.fnd-ui-cardevent {
    &__container {
        position: relative;
        background-color: #FCFCFD;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0px 1px 6px #00000012;

        @include respond(xl) {
            flex-direction: row;
            justify-content: space-between;
        }

        &--big {
            max-width: 1183px;
        }

        &--small {
            max-width: 829px;
        }
    }

    &__image {
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1/1;

        @include respond(lg) {
            max-width: 463px;
        }
    }

    &__details {
        flex: 1;
        padding: 60px 32px 32px 32px;

        @include respond(lg) {
            padding: 20px 40px 20px 40px;
        }

        @include respond(xl) {
            padding: 25px 50px 25px 50px;
        }

        @include respond(2xl) {
            padding: 30px 67px 35px 65px;
        }

        &--small {
            max-width: 588px;
        }
    }

    &__title {
        color: #007AA3;
        font-weight: bold;
        font-size: 16px;

        @include respond(lg) {
            font-size: 18px;
        }

        @include respond(xl) {
            font-size: 20px;
        }

        @include respond(2xl) {
            font-size: 25px;
        }
    }

    &__description {
        font-size: 14px;
        font-style: italic;
        margin-top: 14px;

        @include respond(lg) {
            font-size: 16px;
        }

        @include respond(xl) {
            font-size: 18px;
        }
    }

    &__date,
    &__site,
    &__alliance,
    &__addressed-to {
        display: flex;
        justify-items: center;
        align-items: center;
        column-gap: 15px;
        font-size: 14px;
        margin-top: 14px;

        @include respond(lg) {
            font-size: 16px;
        }

        @include respond(xl) {
            font-size: 18px;
        }

        @include respond(2xl) {
            font-size: 21px;
        }
    }

    &__site {
        p a {
            text-decoration: none;
            font-weight: bold;
            color: #007AA3;
            border-bottom: 1px solid #007AA3;
        }
    }

    &__date img,
    &__site img,
    &__alliance img,
    &__addressed-to img {
        width: 30px;
        height: 30px;
    }

    &__button {
        display: inline-block;
        outline: none;
        border: none;
        background-color: transparent;
        color: #007AA3;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 2px solid #007AA3;
        padding-bottom: 5px;
        padding-right: 20px;
        font-family: inherit;
        cursor: pointer;

        @include respond(lg) {
            font-size: 17px;
        }

        @include respond(xl) {
            font-size: 19px;
        }

        @include respond(2xl) {
            font-size: 22px;
        }
    }

    &__card-title {
        position: absolute;
        top: 0;
        background-color: #CF4305;
        overflow: hidden;
        border-radius: 20px 0px;
        color: #FFFFFF;
        font-size: 14px;
        padding: 12px 24px;
        font-weight: bold;

        @include respond(lg) {
            font-size: 16px;
        }

        @include respond(xl) {
            font-size: 18px;
        }

        @include respond(2xl) {
            font-size: 21px;
        }

        &--left {
            left: 0;
            border-radius: 20px 0px;
        }

        &--right {
            right: 0;
            border-radius: 0px 20px;
        }
    }

    &--flex {
        display: flex;
        margin-top: 24px;
    }
    
    &--justify-between {
        justify-content: space-between;
    }

    &--items-center {
        align-items: center;
    }
}