button {
  background-color: pink;
}

.fnd-ui-lightbox-container {
  border-radius: 20px;
  max-width: 640px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fnd-ui-lightbox-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}